<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
<script th:inline="javascript">
    var me=[[${session.userID}]];


</script>
    <table>
        <tr th:each="chat : ${list}">
            <td ><a th:href="@{/chat/chatting(id=${chat.recive},auc=${chat.auc_sec} )}"><span th:text="${chat.recive}"></span></a>  <span th:text="${chat.message}"></span> <span th:text="${chat.date}"></span><img th:src="${chat.img}"></td>

        </tr>

    </table>

    <script th:inline="javascript" th:src="@{/Chat/notification.js}"></script>



</body>
</html>