<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/header :: mainHeader}">
  <meta charset="UTF-8">
  <title>Title</title>

</head>

<body id="top">

<div th:if = "${session.user != null}">

   <div th:if="${session.user.state == 0}">
    <div th:replace="~{/fragments/navManager :: naviManager}"></div>
  </div>

</div>


<section class="section-hero overlay inner-page bg-image" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-white font-weight-bold">관리자 전용</h1>
        <div class="custom-breadcrumbs">
          <a th:href="@{/}">Home</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>사용자 신고 관리</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- reportState == 1 부분 -->

<section class="site-section">
    <div class="row justify-content-center mb-5" data-aos="fade-up">
      <div id="filters" class="filters text-center col-md-7">
        <button class="btn btn-primary" id="report1">처리중인 신고 리스트</button>
        <button class="btn btn-primary" id="report2">신고 처리 완료 목록</button>
      </div>
    </div>

    <div class="row justify-content-center mb-5" data-aos="fade-up" id="noSelectList">
      선택된 리스트가 없습니다.
    </div>
</section>



<section class="site-section" id="reportStateOne" style="display: none;">

  <div class="row justify-content-center mb-5" data-aos="fade-up" th:if="${reportStateOne.totalPage == 0}">
    접수된 내역이 없습니다.
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-4"  th:each="stateOne : ${reportStateOne.dtoList}" th:if="${reportStateOne.totalPage > 0}">
        <div class="block__87154" th:if="${stateOne.reportState == '1'}">
          <div th:if="${stateOne.reportKind == '1'}">광고</div>
          <div th:if="${stateOne.reportKind == '2'}">도배</div>
          <div th:if="${stateOne.reportKind == '3'}">불법 음란물 게시</div>
          <div th:if="${stateOne.reportKind == '4'}">욕설 및 폭언</div>
          <div th:if="${stateOne.reportKind == '5'}">저작권 침해</div>
          <div th:if="${stateOne.reportKind == '6'}">개인정보 침해</div>
          <blockquote th:text="${stateOne.reportContent}">
            <p>&ldquo;
              신고 상세 내역이 들어갑니다.
              &rdquo;</p>
          </blockquote>

          <div class="block__91147 d-flex align-items-center">
            <figure class="mr-4">
              <img src="../images/person_1.jpg" th:src="${stateOne.photo}" alt="Image" class="img-fluid">
            </figure>
              <div>
                <span class="position" th:text="${stateOne.id}">신고하는 사람</span> ->
                <span class="position" th:text="${stateOne.reportTarget}"> 신고 대상</span>
              </div>
          </div>
              <div th:align="right">
                <span class="position" th:text="${#temporals.format(stateOne.regDate, 'yyyy/MM/dd')}">&nbsp;2021/08/06</span> 에 접수되었습니다.
              </div>

          <div th:align="right">
            <span class="badge badge-success">
              <a th:href="@{/serviceCenter/reportStateUpdate(reportNo = ${stateOne.reportNo})}">
                <button type="button" >신고 처리 버튼</button>
              </a>
            </span>
          </div>
          </div>

      </div>
    </div>
<!-- state : 1 페이지 처리 -->
    <div class="row pagination-wrap mt-5">
      <div class="col-md-12 text-center ">
        <div class="custom-pagination ml-auto">

          <div class="d-inline-block">
            <a th:class=" 'page-item ' + ${reportStateOne.page == page?'active':''} "
               th:each="page: ${reportStateOne.pageList}"
               th:href="@{/serviceCenter/reportBoardMgr(page = ${page})}">
              [[${page}]]
            </a>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>


<!-- reportState == 2 부분 -->

<section class="site-section" id="reportStateTwo" style="display: none;">

  <div class="row justify-content-center mb-5" data-aos="fade-up" th:if="${reportStateTwo.totalPage == 0}">
    접수된 내역이 없습니다.
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-4"  th:each="stateTwo : ${reportStateTwo.dtoList}" th:if="${reportStateTwo.totalPage > 0}">

        <div class="block__87154" th:if="${stateTwo.reportState == '2'}">
          <div th:if="${stateTwo.reportKind == '1'}">광고</div>
          <div th:if="${stateTwo.reportKind == '2'}">도배</div>
          <div th:if="${stateTwo.reportKind == '3'}">불법 음란물 게시</div>
          <div th:if="${stateTwo.reportKind == '4'}">욕설 및 폭언</div>
          <div th:if="${stateTwo.reportKind == '5'}">저작권 침해</div>
          <div th:if="${stateTwo.reportKind == '6'}">개인정보 침해</div>
          <blockquote th:text="${stateTwo.reportContent}">
            <p>&ldquo;
              신고 상세 내역이 들어갑니다.
              ~~~~~~~~~~~~ 때문에 신고합니다.
              &rdquo;</p>
          </blockquote>
          <div class="block__91147 d-flex align-items-center">
            <figure class="mr-4"><img th:src="${stateTwo.photo}" alt="Image" class="img-fluid"></figure>
            <div>
              <span class="position" th:text="${stateTwo.id}">신고하는 사람</span> ->
              <span class="position" th:text="${stateTwo.reportTarget}"> 신고 당하는 놈</span>
            </div>
          </div>
          <div th:align="right">
            <span class="position" th:text="${#temporals.format(stateTwo.regDate, 'yyyy/MM/dd')}">&nbsp;2021/08/06</span>
            <span class="position">처리 완료</span>
          </div>
        </div>
      </div>
      </div>

    <!-- state : 2 페이지 처리 -->

    <div class="row pagination-wrap mt-5">

      <div class="col-md-12 text-center ">
        <div class="custom-pagination ml-auto">

          <div class="d-inline-block">
            <a th:class=" 'page-item ' + ${reportStateTwo.page == page?'active':''} "
               th:each="page: ${reportStateTwo.pageList}"
               th:href="@{/serviceCenter/reportBoardMgr(page = ${page})}">
              [[${page}]]
            </a>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>


<script th:inline="javascript">
  var me=[[${session.user.id}]];
</script>
<script th:inline="javascript" th:src="@{/Chat/notification.js}"></script>
<script th:inline="javascript">
  var me=[[${session.user.id}]];
</script>
<script th:inline="javascript" th:src="@{/Chat/notification.js}"></script>
<script th:inline="javascript">
  var me=[[${session.user.id}]];
</script>


<script th:inline="javascript" th:src="@{/Chat/notification.js}"></script>

<footer th:replace="~{/fragments/footer :: mainFooter}"></footer>

</body>
</html>