<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="~{/fragments/header :: mainHeader}">
    <meta charset="UTF-8">
    <title>Title</title>
  </head>

  <body id="top">

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
    

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    

    <!-- NAVBAR -->

    <div th:if = "${session.user != null}">


      <div th:if="${session.user.state == 1}">
        <div th:replace="~{/fragments/navUser :: naviUser}"></div>
      </div>

      <div th:if="${session.user.state == 2}">
        <div th:replace="~{/fragments/navHelper :: naviHelper}"></div>
      </div>

    </div>

    <div th:if = "${session.user == null}">
      <div th:replace="~{/fragments/nav :: navi}"></div>
    </div>

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Blog List Page</h1>
            <div class="custom-breadcrumbs">
              <a href="#">Home</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>About Us</strong></span>
            </div>

            <a th:href="@{/blog/basicForm}">
              <button type="button" class="btn btn-outline-primary">
                REGISTER
              </button>
            </a>

          </div>
        </div>
      </div>
    </section>

    <section class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 col-lg-4 mb-5" th:each="dto : ${result.dtoList}">
            <a th:href="@{/blog/detail(postNo = ${dto.postNo},
                    tempPage= ${result.page},
                    tempType=${pageRequestDTO.type} ,
                    tempKeyword = ${pageRequestDTO.keyword})}">
              <img th:if="${dto.thumbnail == ''}" th:src="@{/resources/fileupload/sub-thumbnail.jpg}" alt="Image" class="img-fluid rounded mb-4" style="margin-bottom: 24px; width: 350px; height: 350px;">
              <img th:if="${dto.thumbnail != ''}" th:src="@{/resources/fileupload/}+${dto.thumbnail}" alt="Image" class="img-fluid rounded mb-4" style="margin-bottom: 24px; width: 350px; height: 350px;">
            </a>
            <h3>
              <a th:href="@{/blog/detail(postNo = ${dto.postNo},
                    tempPage= ${result.page},
                    tempType=${pageRequestDTO.type} ,
                    tempKeyword = ${pageRequestDTO.keyword})}" class="text-black">
                [[${dto.title}]]
              </a>
            </h3>
            <div>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]<span class="mx-2">|</span> <a>[[${dto.writer}]]</a></div>
          </div>
        </div>
        <div class="row pagination-wrap mt-5">
          
          <div class="col-md-12 text-center ">
            <div class="custom-pagination ml-auto">
              <a th:if="${result.prev}"  th:href="@{/blog/blogList(page= ${result.start -1},
                    type=${pageRequestDTO.type},
                    keyword = ${pageRequestDTO.keyword},
                    writer = ${host}
                     ) }" tabindex="-1" class="prev">Prev</a>

              <div class="d-inline-block">
                <a th:href="@{/blog/blogList(page = ${page},
                   type=${pageRequestDTO.type},
                   keyword = ${pageRequestDTO.keyword},
                   writer = ${host}
                   )}" th:class="${result.page == page?'active':''}" th:each="page: ${result.pageList}">[[${page}]]</a>
              </div>
              <a th:if="${result.next}" th:href="@{/blog/blogList(page= ${result.end + 1},
                    type=${pageRequestDTO.type},i
                    keyword = ${pageRequestDTO.keyword},
                    writer = ${host}
                     )}" class="next">Next</a>
            </div>
          </div>
        </div>
      </div>

      <form action="/blog/blogList" method="get" id="searchForm">
        <div class="input-group" style="margin-top: 20px; margin-bottom: 20px; margin-left: 400px; margin-right: 150px; width: 1200px;">
          <input type="hidden" name="page" value = "1">
          <input type = "hidden" name = "writer" id = "searchWriter" th:value="${host}">
          <div class="input-group-prepend">
            <select class="custom-select" name="type">
              <option th:selected="${pageRequestDTO.type == null}">-------</option>
              <option value="t" th:selected="${pageRequestDTO.type =='t'}" >제목</option>
              <option value="c" th:selected="${pageRequestDTO.type =='c'}"  >내용</option>
              <option value="tc"  th:selected="${pageRequestDTO.type =='tc'}" >제목 + 내용</option>
            </select>
          </div>
          <input class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}">
          <div class="input-group-append" id="button-addon4">
            <button class="btn btn-outline-secondary btn-search" type="button">Search</button>
            <button class="btn btn-outline-secondary btn-clear" type="button">Clear</button>
          </div>
        </div>
      </form>

    </section>

</div>

  <footer th:replace="~{/fragments/footer :: mainFooter}"></footer>

  </body>
</html>