<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="~{/fragments/header :: mainHeader}">
    <meta charset="UTF-8">
    <title>Title</title>
  </head>

  <body id="top">

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->

    <!-- NAVBAR -->
    <div th:if = "${session.user != null}">

      <div th:if="${session.user.state == 1}">
        <div th:replace="~{/fragments/navUser :: naviUser}"></div>
      </div>

      <div th:if="${session.user.state == 2}">
        <div th:replace="~{/fragments/navHelper :: naviHelper}"></div>
      </div>

    </div>

    <div th:if = "${session.user == null}">
      <div th:replace="~{/fragments/nav :: navi}"></div>
    </div>

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('../images/hero_1.jpg');" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Helper's Blog</h1>
            <div class="custom-breadcrumbs">
              <a>일도둑들의 다양한 스토리들을 들어봐요!</a>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="site-section">
      <div class="container">
        <div class="row mb-5">

        </div>
        <div class="row pagination-wrap mt-5">

        </div>
      </div>

      <form action="/blog/blogList" method="get" id="searchForm">
        <div class="input-group" style="margin-top: 20px; margin-bottom: 20px; margin-left: 400px; margin-right: 150px; width: 1200px;">
          <input type="hidden" name="page" value = "1">
          <input type = "hidden" name = "writer" id = "searchWriter" th:value="${host}">
          <div class="input-group-prepend">
            <select class="custom-select" name="type">
              <option th:selected="${pageRequestDTO.type == null}">-------</option>
              <option value="t" th:selected="${pageRequestDTO.type =='t'}" >제목</option>
              <option value="c" th:selected="${pageRequestDTO.type =='c'}"  >내용</option>
              <option value="tc"  th:selected="${pageRequestDTO.type =='tc'}" >제목 + 내용</option>
            </select>
          </div>
          <input class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}">
          <div class="input-group-append" id="button-addon4">
            <button class="btn btn-outline-secondary btn-search" type="button">Search</button>
            <button class="btn btn-outline-secondary btn-clear" type="button">Clear</button>
          </div>
        </div>
      </form>

    </section>

</div>

  <footer th:replace="~{/fragments/footer :: mainFooter}"></footer>

  </body>
</html>