<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/header :: mainHeader}">
    <meta charset="UTF-8">
    <title>helperBizCard</title>
</head>

<body id="top">


<div class="site-wrap">

    <section class="site-section" id="next-section" style="padding-top: 3rem">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 sidebar pl-lg-5">

                    <div id="bizCard_img">
                        <img th:src="${helperInfo.photo}" alt="Image placeholder" class="img-fluid mb-4 w-50 rounded-circle">
                        <h3>[[${helperInfo.nickname}]]</h3>
                        <p th:text = "${helperInfo.appeal}"></p>
                    </div>

                    <div class="sidebar-box">
                        <div class="categories">
                            <h3>헬퍼정보</h3>
                            <li><a>성별 <span>[[${helperInfo.gender}]]</span></a></li>
                            <li><a>친절점수 <span>[[${helperInfo.kindness}]]</span></a></li>
                            <li><a>생년월일 <span>[[${helperInfo.birth}]]</span></a></li>
                            <li><a>수행지역 <span>[[${helperInfo.sido}]] [[${helperInfo.sigungu}]]</span></a></li>
                            <li><a>경력사항1 <span>[[${helperInfo.goodAtFirst}]]</span></a></li>
                            <li><a>경력사항2 <span>[[${helperInfo.goodAtSecond}]]</span></a></li>
                            <li><a>경력사항3 <span>[[${helperInfo.goodAtThird}]]</span></a></li>
                            <li><a>헬퍼가입일 <span th:text = "${#temporals.format(helperInfo.modDate, 'yyyy/MM/dd')}"></span></a></li>
                        </div>
                    </div>

                    <h4>자기 소개</h4>
                    <div id="intro_helper">
                        <p>[[${helperInfo.intro}]]</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


</body>
</html>