<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>helperBizCard</title>
</head>
<body>

<input type="text" th:value="${helperInfo.memberId}" />
<input type="text" th:value="${member.nickname}" />


<!--<div class="col-lg-4 sidebar pl-lg-5">
    <div class="sidebar-box">
        <form action="#" class="search-form">
            <div class="form-group">
                <span class="icon fa fa-search"></span>
            </div>
        </form>
    </div>
    <div class="sidebar-box">
        <img th:src="${detail.writer.photo}" alt="Image placeholder" class="img-fluid mb-4 w-50 rounded-circle">
        <h3>[[${detail.writer.name}]]</h3>
        <p th:text = "${writerInfoHelper.appeal}"></p>
    </div>

    <div class="sidebar-box">
        <div class="categories">
            <h3>Information</h3>
            <li><a>gender <span>[[${detail.writer.gender}]]</span></a></li>
            <li><a>kindness <span>[[${writerInfoHelper.kindness}]]</span></a></li>
            <li><a>birth <span>[[${detail.writer.birth}]]</span></a></li>
            <li><a>good 1 <span>[[${writerInfoHelper.goodAtFirst}]]</span></a></li>
            <li><a>good 2 <span>[[${writerInfoHelper.goodAtSecond}]]</span></a></li>
            <li><a>good 3 <span>[[${writerInfoHelper.goodAtThird}]]</span></a></li>
        </div>
    </div>


    <div class="sidebar-box">
        <h3>I am...</h3>
        <p>[[${detail.writer.intro}]]</p>
    </div>
</div>-->


</body>
</html>