<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/member/helperRegister" method="post">

   경력사항1 <input type="text" name="goodAtFirst" /> <br />
   경력사항2 <input type="text" name="goodAtSecond" /> <br />
   경력사항3 <input type="text" name="goodAtThird" /> <br />
   친절점수 <input type="text" name="kindness" /> <br />
    각오 <input type="text" name="appeal" />

    본인 얼굴 사진<input type="text" name="facePhoto" /> <br />
    본인 신분증 사진<input type="text" name="idCard" /> <br />

        <button type="submit" >헬퍼신청</button>
</form>
</body>
</html>