<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>mypage</title>
</head>
<body>

    <form action="/member/userDelete" method="post">
        <input type="hidden" name="id" th:value=${session.id} />
    <button type="submit">회원탈퇴</button>

    <form action ="/member/userModify" method="post">
        <input type="hidden" name="id" th:value=${session.id} />
        <button type="submit">개인정보 수정</button>
    </form>


</form>
</body>
</html>