<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>팝업창</title>
</head>
<body>
<form id="bidForm" name="bidForm" method="post" action="/auction/biddingIn">
    <input type="hidden" th:value="${session.user.id}" name="helper">
    <input type="hidden" th:value="${session.user.nickname}" name="helperNickName">
    <input type="text" th:value="${aucSeq}" name="aucSeq">
    <input type="text" th:value="${startPrice}" placeholder="시작가격">
    <input type="text" th:value="${auctionGap}" placeholder="옥션 갭">
    <input type="text" name="offerPrice" placeholder="제시가격">
    <!--<button id="subF" onclick="MovePage">제출</button>-->
    <button id="subF">제출</button>
</form>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script th:inline="javascript">



    $(document).ready(function (){

	    $('#subF').click(function () {

	    	//submit
            $('#subF')[0].submit();

	    	//부모 리로드
		    //parent.location.reload();

            //팝업창 닫기
		    close();

	    });
    });

/*	function MovePage() {
    	//alert("되는건가")
		document.bidForm.submit();
		window.opener.top.location.href="redirect:/auction/getAuction?aucSeq="+aucSeq;
		window.close()
	}*/

</script>
</body>
</html>