<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/header :: mainHeader}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body id="top">

<div th:if = "${session.user != null}">

    <div th:if="${session.user.state == 1}">
        <div th:replace="~{/fragments/navUser :: naviUser}"></div>
    </div>

    <div th:if="${session.user.state == 2}">
        <div th:replace="~{/fragments/navHelper :: naviHelper}"></div>
    </div>

    <div th:if="${session.user.state == 0}">
        <div th:replace="~{/fragments/navManager :: naviManager}"></div>
    </div>

</div>

<div id="cash_status" th:if="${session.user != null}">
    <span id="user" th:text="${session.user.nickname}"></span> 님
    <span th:text="${session.user.point}"></span> point
    <button type="button" id="btn_submit">충전하기</button>
    <a href="/chat/chatList">채팅</a>
</div>

<div th:if = "${session.user == null}">
    <div th:replace="~{/fragments/nav :: navi}"></div>
</div>

<section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">경매 상세</h1>
                <div class="custom-breadcrumbs">
                    <a href="#">Home</a> <span class="mx-2 slash">/</span>
                    <a href="#">Job</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>경매</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="site-section">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-lg-8 mb-4 mb-lg-0">
                <div class="d-flex align-items-center">
                    <div class="border p-2 d-inline-block mr-3 rounded" th:if="${auction.category == 1}">
                        <img th:src="@{/img/Purchasing.png}" width="70" alt="Image">
                    </div>
                    <div class="border p-2 d-inline-block mr-3 rounded" th:if="${auction.category == 2}">
                        <img th:src="@{/img/HomeCare.png}" width="70" alt="Image">
                    </div>
                    <div class="border p-2 d-inline-block mr-3 rounded" th:if="${auction.category == 3}">
                        <img th:src="@{/img/PetCare.png}" width="70" alt="Image">
                    </div>
                    <div class="border p-2 d-inline-block mr-3 rounded" th:if="${auction.category == 4}">
                        <img th:src="@{/img/QuickService.png}" width="70" alt="Image">
                    </div>
                    <div>
                        <h2 th:text="${auction.title}"></h2>
                        <div>
                            <span class="ml-0 mr-2 mb-2" th:if="${auction.category == 1}"><span class="icon-briefcase mr-2"></span>구매대행</span>
                            <span class="ml-0 mr-2 mb-2" th:if="${auction.category == 2}"><span class="icon-briefcase mr-2"></span>홈케어</span>
                            <span class="ml-0 mr-2 mb-2" th:if="${auction.category == 3}"><span class="icon-briefcase mr-2"></span>펫케어</span>
                            <span class="ml-0 mr-2 mb-2" th:if="${auction.category == 4}"><span class="icon-briefcase mr-2"></span>퀵서비스</span>
                            <input id="category" class="form-control" type="text" th:if="${auction.category == 2}" value="홈케어" readonly />
                            <input id="category" class="form-control" type="text" th:if="${auction.category == 3}" value="펫케어" readonly />
                            <input id="category" class="form-control" type="text" th:if="${auction.category == 4}" value="퀵서비스" readonly />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="mb-5">
                    <figure class="mb-5"><img src="images/job_single_img_1.jpg" alt="Image" class="img-fluid rounded"></figure>
                    <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-align-left mr-3"></span>미션 내용</h3>
                    <p th:utext="${auction.content}"></p>
                </div>

                <div class="mb-5">
                    <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-rocket mr-3"></span>필요 조건????</h3>
                    <ul class="list-unstyled m-0 p-0">
                        <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>뭐필요하나요</span></li>
                        <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span></span></li>
                    </ul>
                </div>

                <div class="mb-5">
                    <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-turned_in mr-3"></span>우대 사항</h3>
                    <ul class="list-unstyled m-0 p-0">
                        <li class="d-flex align-items-start mb-2">
                            <span class="icon-check_circle mr-2 text-muted">운전면허증</span>
                            <span th:if="${auction.driverLicense == 0}">상관없음</span>
                            <span th:if="${auction.driverLicense == 1}">소지자 우대</span>
                        </li>
                        <li class="d-flex align-items-start mb-2">
                            <span class="icon-check_circle mr-2 text-muted">나이</span>
                            <span th:if="${auction.age == 0}">무관</span>
                            <span th:if="${auction.age == 1}">청년층</span>
                            <span th:if="${auction.age == 2}">중년층</span>
                            <span th:if="${auction.age == 3}">노년층</span>
                        </li>
                        <li class="d-flex align-items-start mb-2">
                            <span class="icon-check_circle mr-2 text-muted">성별</span>
                            <span th:if="${auction.driverLicense == 0}">무관</span>
                            <span th:if="${auction.gender == 1}">여성</span>
                            <span th:if="${auction.gender == 2}">남성</span>
                        </li>
                    </ul>
                </div>

                <div class="row mb-5">
                    <div class="col-6" th:if="${auction.state == 3}">
                        <a th:href="@{/chat/chatList}" class="btn btn-block btn-light btn-md">채팅하기</a>
                    </div>
                    <div class="col-6"  th:unless="${auction.state == 3}">
                        <a href="#" class="btn btn-block btn-primary btn-md">리뷰하기</a>
                    </div>
                    <div class="col-6">
                        <a class="btn btn-block btn-primary btn-md" th:href="@{/auction/allDoneList}">목록으로</a>
                    </div>
                </div>

            </div>

            <div class="col-lg-4">
                <div class="bg-light p-3 border rounded mb-4">
                    <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">미션 부가정보</h3>
                    <ul class="list-unstyled pl-3 mb-0">
                        <li class="mb-2">
                            <strong class="text-black">미션 난이도</strong>
                            <span th:if="${auction.level == 1}">쉬움</span>
                            <span th:if="${auction.level == 2}">보통</span>
                            <span th:if="${auction.level == 3}">어려움</span>
                        </li>
                        <li class="mb-2">
                            <strong class="text-black">낙찰가</strong>
                            <span th:text="${chosenBidding.offerPrice}"></span>원
                        </li>
                        <li class="mb-2">
                            <strong class="text-black">당담 헬퍼</strong>
                            <a onclick="test()"><span th:text="${chosenBidding.helper.id}"></span></a> 님
                        </li>
                        <li class="mb-2">
                            <strong class="text-black">미션장소</strong>
                            <span th:text="${auction.sido}"></span> , <span th:text="${auction.sigungu}"></span>
                        </li>
                        <li class="mb-2">
                            <strong class="text-black">미션 일시</strong>
                            <span th:text="${#temporals.format(auction.regDate, 'yyyy-MM-dd hh시 mm분')}"></span>
                        </li>

                    </ul>
                </div>


            </div>
        </div>
    </div>
</section>

<script>
    function test(){
        window.open("#","헬퍼카드","width=500, height=584, scrollbars=no, resizeable=no,toolbar=no, left=1000,top=150");
    }
</script>


<footer th:replace="~{/fragments/footer :: mainFooter}"></footer>

</body>
</html>