<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 경매 완료, 매칭 완료3 : 카테고리, 제목, 시간, 지역, 헬퍼정보, 채팅버튼-->
<h1>경매완료, 매칭완료</h1>
<br />
<table th:border="1" >
    <thead>
    <tr>
        <th scope="col">경매제목</th>
        <th scope="col">카테고리</th>
        <th scope="col">시간</th>
        <th scope="col">지역</th>
        <th scope="col">헬퍼정보</th>
        <th scope="col">채팅</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dto : ${matchedAuctionList.dtoList}">
        <th scope="row">
            <a th:href="@{@{/auction/getAuction(aucSeq=${dto.aucSeq})}}">[[${dto.title}]]</a>
        </th>
        <td>
            [[${dto.category}]]
        </td>
        <td>
            [[${dto.doDateTime}]]
        </td>
        <td>
            [[${dto.address}]]
        </td>
        <td>
            [[${dto.helper}]]
        </td>
        <td>
            <button th:href="@{#}">채팅</button>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>