<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/header :: mainHeader}"><!-- 부트 스트랩 -->
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/auction.css}">


</head>

<body id="top">

<div>
    <!-- 헤드 네비게이션 -->
    <div th:replace="~{/fragments/navHelper :: naviHelper}"></div>

    <!-- HOME : 위에 회색 그거 -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');"
             id="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="text-white font-weight-bold">My biddings</h1>
                    <div class="custom-breadcrumbs">
                        <a href="#">미션</a> <span class="mx-2 slash">/</span>
                        <span class="text-white"><strong>경매 낙찰 내역</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="site-section">
        <div class="container">

            <!--------------------------------------- 경매 진행 중 / 경매 완료 ------------------------------------------------------->
            <div th:if="${allDone}"
                 class="row justify-content-center mb-5" data-aos="fade-up">
                <div id="filters" class="filters text-center col-md-7">
                    <button class="btn btn-primary" id="MWaitB ">미션 대기</button>
                    <button class="btn btn-primary active" id="allDoneMissionB">미션 완료</button>
                </div>
            </div>

            <div th:unless="${allDone}"
                 class="row justify-content-center mb-5" data-aos="fade-up">
                <div id="filters" class="filters text-center col-md-7">
                    <button class="btn btn-primary active" id="MWaitB">미션 대기</button>
                    <button class="btn btn-primary" id="allDoneMissionB">미션 완료</button>
                </div>
            </div>

            <!--------------------------------------- 미션 완료 내역 시작------------------------------------------------------->
            <div id="allDoneMission">
                <div class="row mb-5 justify-content-center">
                    <div class="col-md-7 text-center">

                        <h2 class="section-title mb-2" th:if="${missionDone.getDtoList().size() == 0}">
                            아직까지 완료한 미션이 없습니다.
                        </h2>

                        <h2 class="section-title mb-2" th:if="${missionDone.getDtoList().size() != 0}">
                            [[${missionDone.getTotalElements()}]]개의 미션을 수행하였습니다.
                        </h2>

                    </div>
                </div>
                <!--경매 진행 중 예시 포스팅-->
                <ul class="job-listings mb-5">
                    <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
                        <div class="job-listing-logo" th:align="center">
                            <img th:src="@{/img/hermes.png}" alt="hermes"
                                 class="img-fluid" width="80" height="80"><br>
                        </div>
                        <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                            <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                                <h2><b>미션 제목</b></h2>
                                <strong><b>미션 수행 일시</b></strong>
                            </div>
                            <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                                <span class="icon-room"></span> <b>미션 장소</b><br>
                            </div>
                            <div class="job-listing-meta w-25">
                                <span class=""><b> 낙찰가격 </b></span>
                            </div>
                        </div>
                    </li>
                </ul>

                <!-- 내역이 하나도 없을 경우 포스팅 -->
                <div th:if="${missionDone.getDtoList().size() == 0}">
                    <ul class="job-listings mb-5" th:align="center">
                        <b> 헤르메스 미션 경매에 참여해 보세요! </b>
                    </ul>
                </div>

                <!-- 내역이 있을 경우 리스트 포스팅 -->
                <div th:if="${missionDone.getDtoList().size() != 0}">
                    <ul class="job-listings mb-5">
                        <!--한개씩 포스팅-->
                        <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center"
                            th:each="dto : ${missionDone.dtoList}" th:cellpadding="10">
                            <a th:href="@{/auction/getAuction(aucSeq=${dto.aucSeq})}"></a>
                            <div class="job-listing-logo">
                                <div th:if="${dto.category == 1}" th:align="center">
                                    <img th:src="@{/img/Purchasing.png}" alt="hermes"
                                         class="img-fluid" th:width="100" th:height="100" th:align="center">
                                </div>
                                <div th:if="${dto.category == 2}" th:align="center">
                                    <img th:src="@{/img/HomeCare.png}" alt="hermes"
                                         class="img-fluid" th:width="100" th:height="100" th:align="center">
                                </div>
                                <div th:if="${dto.category == 3}" th:align="center">
                                    <img th:src="@{/img/PetCare.png}" alt="hermes"
                                         class="img-fluid" th:width="100" th:height="100" th:align="center">
                                </div>
                                <div th:if="${dto.category == 4}" th:align="center">
                                    <img th:src="@{/img/QuickService.png}"
                                         alt="hermes"
                                         class="img-fluid" th:width="100" th:height="100" th:align="center">
                                </div>
                                <!--카테고리별 이미지 설정-->
                            </div>

                            <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                                <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                                    <h2>[[${dto.title}]]</h2>
                                    <strong><b>[[${#temporals.format(dto.doDateTime,'yyyy/MM/dd - hh:mm')}]]</b></strong>
                                </div>
                                <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                                    <span class="icon-room"></span> [[${dto.address}]]<br>
                                </div>
                                <div class="job-listing-meta w-25" style="z-index: 1">
                                    <span class="">[[${#numbers.formatInteger(dto.offerPrice,3,'COMMA')}]]원</span>
                                </div>
                            </div>
                        </li>
                        <!--한개씩 끝-->
                    </ul>

                    <!-- 리스트 끝 -->

                    <!-- 페이지 전환 처리 -->
                    <div style="text-align: center">
                        <div class="custom-pagination ml-auto">
                            <a th:if="${missionDone.prev}"
                               th:href="@{/auction/myBidsHelper(page= ${missionDone.start-1},allDone=false)}"
                               tabindex="-1" class="prev">Prev</a>

                            <div class="d-inline-block">
                                <a th:href="@{/auction/myBidsHelper(page = ${page},allDone=false)}"
                                   th:class="${missionDone.page == page?'active':''}"
                                   th:each="page: ${missionDone.pageList}">[[${page}]]</a>
                            </div>
                            <a th:if="${missionDone.next}"
                               th:href="@{/auction/myBidsHelper(page= ${missionDone.end + 1},allDone=false)}"
                               class="next">Next</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--------------------------------------- 미션 완료 내역 끝 ------------------------------------------------------->

            <!--------------------------------------- 미션 대기 시작 ------------------------------------------------------->
            <div id="MWait">
                <div class="row mb-5 justify-content-center">
                    <div class="col-md-7 text-center">

                        <h2 class="section-title mb-2" th:if="${missionWait.getDtoList().size() == 0}">
                            대기 중인 미션이 없습니다.
                        </h2>

                        <h2 class="section-title mb-2" th:if="${missionWait.getDtoList().size() != 0}">
                            [[${missionWait.getTotalElements()}]]개의 대기 중인 미션이 있습니다.
                        </h2>

                    </div>
                </div>
                <!--예시 포스팅-->
                <ul class="job-listings mb-5">
                    <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
                        <div class="job-listing-logo" th:align="center">
                            <img th:src="@{/img/hermes.png}" alt="hermes"
                                 class="img-fluid" width="80" height="80"><br>
                            <!--대표 이미지 삽입 예정-->
                        </div>
                        <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                            <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                                <h2><b>미션 제목</b></h2>
                                <strong><b style="color:red">미션 수행 일시</b></strong>
                            </div>
                            <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                                <span class="icon-room"></span> <b>미션 장소</b>&nbsp;
                                <button class="btn btn-primary">길찾기</button>
                            </div>
                            <div class="job-listing-meta w-25">
                                <span class=""><b> 낙찰가격 </b></span>
                            </div>
                        </div>
                    </li>
                </ul>

                <!-- 내역이 하나도 없을 경우 포스팅 -->
                <div th:if="${missionWait.getDtoList().size() == 0}">
                    <ul class="job-listings mb-5" th:align="center">
                        <b>헤르메스 미션 경매에 참여해 보세요!</b>
                    </ul>
                </div>

                <!-- 내역이 있을 경우 리스트 포스팅 -->
                <div th:if="${missionWait.getDtoList().size() != 0}">
                    <ul class="job-listings mb-5">
                        <!--한개씩 포스팅-->
                        <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center"
                            th:each="dto : ${missionWait.dtoList}" th:cellpadding="10">
                            <a th:href="@{/auction/getAuction(aucSeq=${dto.aucSeq})}"></a>
                            <div class="job-listing-logo">
                                <div th:if="${dto.category == 1}" th:align="center">
                                    <img th:src="@{/img/Purchasing.png}" alt="hermes"
                                         class="img-fluid" th:width="100" th:height="100" th:align="center">
                                </div>
                                <div th:if="${dto.category == 2}" th:align="center">
                                    <img th:src="@{/img/HomeCare.png}" alt="hermes"
                                         class="img-fluid" th:width="100" th:height="100" th:align="center">
                                </div>
                                <div th:if="${dto.category == 3}" th:align="center">
                                    <img th:src="@{/img/PetCare.png}" alt="hermes"
                                         class="img-fluid" th:width="100" th:height="100" th:align="center">
                                </div>
                                <div th:if="${dto.category == 4}" th:align="center">
                                    <img th:src="@{/img/QuickService.png}"
                                         alt="hermes"
                                         class="img-fluid" th:width="100" th:height="100" th:align="center">
                                </div>
                                <!--카테고리별 이미지 설정-->
                            </div>

                            <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                                <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                                    <h2>[[${dto.title}]]</h2>
                                    <strong><b style="color:red">[[${#temporals.format(dto.doDateTime,'yyyy/MM/dd - hh:mm')}]]</b></strong>
                                </div>
                                <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                                    <span class="icon-room"></span> [[${dto.address}]]&nbsp;
                                    <a class="btn btn-primary" style = "z-index: 1" th:href="@{https://localhost:9991/map(address=${dto.address})}" >길찾기</a>

                                </div>
                                <div class="job-listing-meta w-25" style="z-index: 1">
                                    <span class=""><b> [[${#numbers.formatInteger(dto.offerPrice,3,'COMMA')}]]원</b></span>
                                </div>
                            </div>
                        </li>
                        <!--한개씩 끝-->
                    </ul>

                    <!-- 리스트 끝 -->

                    <!-- 페이지 전환 처리 -->
                    <div style="text-align: center">
                        <div class="custom-pagination ml-auto">
                            <a th:if="${missionWait.prev}"
                               th:href="@{/auction/myBidsHelper(page= ${missionWait.start-1},allDone=true)}"
                               tabindex="-1" class="prev">Prev</a>

                            <div class="d-inline-block">
                                <a th:href="@{/auction/myBidsHelper(page = ${page},allDone=true)}"
                                   th:class="${missionWait.page == page?'active':''}"
                                   th:each="page: ${missionWait.pageList}">[[${page}]]</a>
                            </div>
                            <a th:if="${missionWait.next}"
                               th:href="@{/auction/myBidsHelper(page= ${missionWait.end + 1},allDone=true)}"
                               class="next">Next</a>
                        </div>
                    </div>
                </div>
            </div>
            <!----------------------------------------- 미션 대기 끝 ---------------------------------------------------->
        </div>
    </section>
</div>
<!-- 공통 footer -->
<footer th:replace="~{/fragments/footer :: mainFooter}"></footer>


<!-- 공통 스크립트 -->
<!-- SCRIPTS -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/isotope.pkgd.min.js}"></script>
<script th:src="@{/js/stickyfill.min.js}"></script>
<script th:src="@{/js/jquery.fancybox.min.js}"></script>
<script th:src="@{/js/jquery.easing.1.3.js}"></script>

<script th:src="@{/js/jquery.waypoints.min.js}"></script>
<script th:src="@{/js/jquery.animateNumber.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/quill.min.js}"></script>

<script th:src="@{/js/bootstrap-select.min.js}"></script>

<script th:src="@{/js/custom.js}"></script>
<!--jquery-->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script th:inline="javascript">
    /* 출력 내용 변화 */
    $(document).ready(function () {
        //alert("제이쿼리 먹히고 있는걸까?");
        var allDone = [[${allDone}]]

        if (allDone === true) {
            $('#allDoneMission').show();
            $('#MWait').hide();
        } else {
            $('#allDoneMission').hide();
            $('#MWait').show();
        }

        $('#allDoneMissionB').click(function () {
            $('#allDoneMission').show();
            $('#MWait').hide();
        });

        $('#MWaitB').click(function () {
            $('#allDoneMission').hide();
            $('#MWait').show();
        });

	    //헬퍼만 접근가능
	    var state = [[${session.user.state}]]
	    if(state != 2){
		    self.location.href = "/index";
	    }

    });

</script>


</body>
</html>