<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Navigation-->
<div th:fragment="naviHelper">


    <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div> <!-- .site-mobile-menu -->
        
        <!-- NAVBAR -->
        <div class="site-navbar mt-3">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="site-logo col-6"><a th:href="@{/}"><img src="../img/mainLogo.png" style="width: 160px; height: 80px;"/></a></div>
                    <nav class="mx-auto site-navigation">
                        <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
                            <li><a class="nav-link active" th:href="@{/}">메인</a></li>
                            <li class="has-children">
                                <a>미션 경매</a>
                                <ul class="dropdown">
                                    <li><a th:href = "@{/auction/availableAuctions}">경매 진행 중</a></li>
                                    <li><a th:href = "@{/auction/myBidsHelper}">참여 내역</a></li>
                                    <li><a th:href = "@{/auction/myChosenBidsHelper}">낙찰 내역</a></li>
                                </ul>
                            </li>
                            <li>
                                <a th:href = "@{/blog/}">블로그</a>
                            </li>
                            <li>
                                <a th:href = "@{/covidInfo/covidInfo/}">COVID-19 현황</a>
                            </li>
                            <li class="has-children">
                                <a href="" >고객센터</a>

                                <ul class="dropdown">
                                    <li><a th:href="@{/serviceCenter/faq}">FAQ</a></li>
                                    <li><a href="services.html" th:href="@{/serviceCenter/customerBoard}">문의</a></li>
                                    <li><a href="blog-single.html"  th:href="@{/serviceCenter/badUserReport(member = ${session.user.id})}">사용자 신고</a></li>
                                </ul>
                            </li>

                        </ul>
                    </nav>

                    <nav class="mx-auto site-navigation2"> <!--style.css -> site-navigation -> site-navigation2로 변경뒤에 해당하는 css 재구성해야함 -->
                        <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
                            <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
                                <div class="ml-auto" th:if = "${session.user.state == 2}">
                                    <a th:href="@{/member/userLogout}" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Log Out</a>
                                    <a class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>마이페이지</a>
                                    <li class="has-children">
                                        <ul class="dropdown">
                                            <li><a th:href = "@{/serviceCenter/changeState}">유저전환</a></li>
                                            <li><a th:href = "@{/member/helperRegisterCheck(memberId=${session.user.id})}">헬퍼정보변경</a></li>
                                            <li><a th:href = "@{/member/userModify}">개인정보수정</a></li>
                                            <li><a  th:href="@{/serviceCenter/paymentHistory(member = ${session.user.id})}">조회</a></li>
                                            <li><a th:href = "@{/member/userDelete(id=${session.user.id})}">회원탈퇴</a></li>
                                        </ul>
                                    </li>
                                </div>
                            </div>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>