<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<!-- Navigation-->
<div th:fragment="naviUser">


<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <!-- NAVBAR -->
    <div class="site-navbar mt-3">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="site-logo col-6"><a href="index.html"><img style="background-image: url('https://cdn.discordapp.com/attachments/861512084009385988/874223984424656916/f64fbc940e43a81b.png')"></a></div>

                <nav class="mx-auto site-navigation">
                    <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
                        <li><a href="index.html" class="nav-link active" th:href="@{/}">메인</a></li>
                        <li><a href="about.html">일도둑은</a></li>
                        <li class="has-children">
                            <a href="job-listings.html">미션</a>
                            <ul class="dropdown">
                                <li><a th:href = "@{/auction/register}">작업 등록</a></li>
                                <li><a th:href = "@{/auction/onAuctionList}">경매 진행 목록</a></li>
                                <li><a th:href = "@{/auction/auctionDoneList}">경매 완료 목록</a></li>
                                <li><a th:href = "@{/auction/matchedAuctionList}">매칭 완료 목록</a></li>
                                <li><a th:href = "@{/auction/allDoneList}">작업 수행 완료 목록</a></li>
                            </ul>
                        </li>
                        <li>
                            <a th:href = "@{/blog/}">블로그</a>
                        </li>
                        <li class="has-children">
                            <a href="" >고객센터</a>

                            <ul class="dropdown">
                                <li><a th:href="@{/serviceCenter/faq}">FAQ</a></li>
                                <li><a th:href="@{/serviceCenter/customerBoard}">문의</a></li>
                                <li><a th:href="@{/serviceCenter/paymentHistory(member = ${session.user.id})}">조회</a></li>
                                <li><a th:href="@{/serviceCenter/badUserReport(member = ${session.user.id})}">사용자 신고</a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <nav class="mx-auto site-navigation2"> <!--style.css -> site-navigation -> site-navigation2로 변경뒤에 해당하는 css 재구성해야함 -->
                    <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
                        <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
                            <div class="ml-auto" th:if = "${session.user.state == 1}">
                                <a th:href="@{/member/userLogout}" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Log Out</a>
                                <a  class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>마이페이지</a>
                                <li class="has-children">
                                    <ul class="dropdown">
                                        <li><a th:href = "@{/serviceCenter/changeState}" th:if="${session.user.userCheck == 1}" >헬퍼 전환</a></li>
                                        <li><a th:href = "@{/member/helperRegisterCheck(memberId=${session.user.id})}" th:unless="${session.user.userCheck == 1}">헬퍼신청하기</a></li>
                                        <li><a th:href = "@{/member/userModify}">개인정보수정</a></li>
                                        <li><a>회원탈퇴</a></li>
                                    </ul>
                                </li>
                            </div>
                        </div>
                    </ul>
                </nav>
                </div>

            </div>
        </div>
    </div>

</div>

</body>
</html>