<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/header :: mainHeader}">
  <meta charset="UTF-8">
  <title>Title</title>

</head>

<body id="top">

<div th:if = "${session.user != null}">

  <div th:if="${session.user.state == 1}">
    <div th:replace="~{/fragments/navUser :: naviUser}"></div>
  </div>

  <div th:if="${session.user.state == 2}">
    <div th:replace="~{/fragments/navHelper :: naviHelper}"></div>
  </div>

  <div th:if="${session.user.state == 0}">
    <div th:replace="~{/fragments/navManager :: naviManager}"></div>
  </div>

</div>

<section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-white font-weight-bold">사용자 신고</h1>
        <div class="custom-breadcrumbs">
          <a href="#">Home</a> <span class="mx-2 slash">/</span>
          <a href="#">Job</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>사용자 신고</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>



<table class="table table-hover">

  <tr>
    <th>#</th>
    <th>신고</th>
    <th>신고 대상</th>
    <th>신고 일시</th>
    <th>처리상황</th>
  </tr>
  <tr th:if="${reportList.totalPage == 0}">
    <td colspan="5">신고 내용이 없습니다.</td>
  </tr>
  <tr th:unless="${reportList.totalPage == 0}" th:each="report : ${reportList.dtoList}">
    <td>[[${report.reportNo}]]</td>
    <td><a th:href="@{/serviceCenter/badUserReportDetail(reportNo = ${report.reportNo})}">[[${report.reportTitle}]]</a></td>
    <td>[[${report.reportTarget}]]</td>
    <td th:text="${#temporals.format(report.regDate, 'yyyy-MM-dd')}"></td>
    <td>
      [[${report.reportState}]]
    </td>
  </tr>
</table>
<a href="#" th:href="@{/serviceCenter/badUserReportForm}">
  <button>신고하기</button>
</a>

<!-- 페이징 -->

<div class="row pagination-wrap mt-5">

  <div class="col-md-12 text-center ">
    <div class="custom-pagination ml-auto">
      <a href="#" class="prev">Prev</a>

      <div class="d-inline-block">
        <ul>
          <li th:class=" 'page-item ' + ${reportList.page == page?'active':''} " th:each="page: ${reportList.pageList}">
            <a th:href="@{/serviceCenter/badUserReport(page = ${page},member = ${session.user.id})}">
              [[${page}]]
            </a>
          </li>
        </ul>
      </div>

      <a href="#" class="next">Next</a>
    </div>
  </div>
</div>


<footer th:replace="~{/fragments/footer :: mainFooter}"></footer>

</body>
</html>