<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/header :: mainHeader}">
  <meta charset="UTF-8">
  <title>Title</title>

</head>

<body id="top">

<div th:if = "${session.user != null}">

  <div th:if="${session.user.state == 1}">
    <div th:replace="~{/fragments/navUser :: naviUser}"></div>
  </div>

  <div th:if="${session.user.state == 2}">
    <div th:replace="~{/fragments/navHelper :: naviHelper}"></div>
  </div>

  <div th:if="${session.user.state == 0}">
    <div th:replace="~{/fragments/navManager :: naviManager}"></div>
  </div>

</div>


<section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-white font-weight-bold">사용자 신고</h1>
        <div class="custom-breadcrumbs">
          <a href="#">Home</a> <span class="mx-2 slash">/</span>
          <a href="#">Job</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>사용자 신고</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="site-section" id="next-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5 mb-lg-0">


        <form method="post" th:action="@{/serviceCenter/userReportWrite}">
          <input type="hidden" name="id" th:value="${session.user.id}" />
          <div class="row form-group">
            <div class="col-md-6 mb-3 mb-md-0">
              <label class="text-black" for="fname">신고 대상</label>
              <input type="text" id="fname" name="reportTarget" class="form-control">
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-6 mb-3 mb-md-0">
              <label class="text-black"  for="fname">신고 유형</label>
              <select class="form-control" name="reportKind">
                <option value="" checked>유형을 선택해주세요.</option>
                <option value="1">광고</option>
                <option value="2">도배</option>
                <option value="3">음란물</option>
                <option value="4">욕설</option>
                <option value="5">저작권 침해</option>
                <option value="6">개인정보 침해</option>
                <option value="7">기타</option>
              </select>
            </div>
          </div>

          <div class="row form-group">

            <div class="col-md-12">
              <label class="text-black">신고제목</label>
              <input type="text" name="reportTitle" class="form-control">
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <label class="text-black" for="message">신고 상세 내용</label>
              <textarea name="reportContent" id="message" cols="30" rows="7" class="form-control" placeholder="신고 내용을 상세히 적어주세요.">
              </textarea>
            </div>

          </div>

          <div class="row form-group">
            <div class="col-md-12">

              <input type="button" value="신고접수" id="report" class="btn btn-primary btn-md text-white">
              <a th:href="@{/serviceCenter/badUserReport}">
                <input type="button" value="목록으로" class="btn btn-primary btn-md text-white">
              </a>

            </div>
          </div>

        </form>
      </div>

      <div class="col-lg-5 ml-auto" >
        <div class="p-4 mb-3 bg-white" >
          <p class="mb-0 font-weight-bold">최근 나와 거래한 헬퍼 목록</p>
          <div class="mb-4" th:if="${tradeList != null}">
            <table id="badUser" class="table table-hover">
              <tr th:each="tradeList : ${tradeList.dtoList}">
                <td>
                  <b>[[${tradeList.helper}]]</b>
                </td>
              </tr>
            </table>

          </div>
          <p th:if="${tradeList.totalPage == 0}" class="mb-4">최근 거래한 유저가 없습니다.<a href=""></a></p>
        </div>
      </div>

    </div>
  </div>
</section>


<!-- 신고 작성 -->


<script th:src="@{/pay/serviceCenter.js}"></script>


<footer th:replace="~{/fragments/footer :: mainFooter}"></footer>

</body>
</html>