<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/header :: mainHeader}"></head>

<body>

<div th:if = "${session.user != null}">

    <div th:if="${session.user.state == 1}">
        <div th:replace="~{/fragments/navUser :: naviUser}"></div>
    </div>

    <div th:if="${session.user.state == 2}">
        <div th:replace="~{/fragments/navHelper :: naviHelper}"></div>
    </div>

    <div th:if="${session.user.state == 0}">
        <div th:replace="~{/fragments/navManager :: naviManager}"></div>
    </div>

</div>

<form th:action="@{/serviceCenter/postCusWrite}" method="post">

    <section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');" id="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="text-white font-weight-bold">문의 남깁니다.</h1>
                    <div class="custom-breadcrumbs">
                        <a href="#">Home</a> <span class="mx-2 slash">/</span>
                        <a href="#">Job</a> <span class="mx-2 slash">/</span>
                        <span class="text-white"><strong>Post a Job</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="site-section">
        <div class="container">

            <div class="row align-items-center mb-5">
                <div class="col-lg-8 mb-4 mb-lg-0">
                    <div class="d-flex align-items-center">
                        <div>
                            <h2>문의</h2>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row mb-5">
                <div class="col-lg-12">
                    <form class="p-4 p-md-5 border rounded">
                        <h3 class="text-black mb-5 border-bottom pb-2">뭐라고 써놓을까</h3>
                        <!--
                        <div class="form-group">
                            <label for="company-website-tw d-block">Upload Featured Image</label> <br>
                            <label class="btn btn-primary btn-md btn-file">
                                Browse File<input type="file" hidden>
                            </label>
                        </div>
                        -->
                        <div class="form-group">
                            <label for="title">제목</label>
                            <input type="text" name="cusTitle" class="form-control" id="title" />
                        </div>

                        <div class="form-group">
                            <label for="title">내용</label>
                            <textarea name="cusContent" rows="10" cols="40"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="check1">공개 여부</label>
                            <input class="selectpicker border rounded" data-style="btn-black" data-width="100%" data-live-search="true" type="radio" name="secretBoard" id="check1" value="n"/>공개
                            <input class="selectpicker border rounded" data-style="btn-black" data-width="100%" data-live-search="true" type="radio" name="secretBoard" id="check2" checked value="y"/>비공개
                        </div>
                        <div class="form-group" id="inputPass">
                            <label for="job-title">비밀번호</label>
                            <input type="password" name="passwordBoard" class="form-control" id="job-title" />
                        </div>

                        <input type="hidden" name="cusWriter" th:value="${session.user.id}"/>
                    </form>
                </div>
            </div>

            <div class="row align-items-center mb-5">
                <div class="col-lg-4 ml-auto">
                    <div class="row">
                        <div class="col-6">
                            <button type="submit" id="submit_btn" class="btn btn-primary btn-md btn-file">저장</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</form>





<footer th:replace="~{/fragments/footer :: mainFooter}"></footer>

</body>
</html>