<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/header :: mainHeader}">
    <meta charset="UTF-8">
    <title>Title</title>

</head>

<body id="top">

<div th:if = "${session.user != null}">

    <div th:if="${session.user.state == 1}">
        <div th:replace="~{/fragments/navUser :: naviUser}"></div>
    </div>

    <div th:if="${session.user.state == 2}">
        <div th:replace="~{/fragments/navHelper :: naviHelper}"></div>
    </div>

    <div th:if="${session.user.state == 0}">
        <div th:replace="~{/fragments/navManager :: naviManager}"></div>
    </div>

</div>

<section class="section-hero overlay inner-page bg-image"  id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">고객센터</h1>
                <div class="custom-breadcrumbs">
                    <a href="#" th:href="@{/}">Home</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>문의</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>
<br/>

<section class="site-section">
    <div class="container">

        <div class="row align-items-center mb-5">
            <div class="col-lg-8 mb-4 mb-lg-0">
                <div class="d-flex align-items-center"></div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-12">
                <form class="p-4 p-md-5 border rounded" method="post">
                    <h3 class="text-black mb-5 border-bottom pb-2">문의 내용</h3>

                    <div class="form-group">
                        <label>문의</label>
                        <input type="text" readonly class="form-control" th:value="${board.cusTitle}" name="cusTitle" >
                    </div>
                    <div class="form-group">
                        <label class="text-black">내용</label>
                        <p th:utext="${board.cusContent}"></p>
                    </div>
                    <div class="row form-group">

                        <div class="col-md-12">
                            <label class="text-black">작성자</label>
                            <input readonly class="form-control" type="text" th:value="${board.cusWriter}" name="cusTitle" />
                        </div>
                    </div>

                    <div class="row form-group">

                        <div class="col-md-12">
                            <label class="text-black">작성일</label>
                            <input type="text" th:value="${#temporals.format(board.modDate, 'yyyy-MM-dd')}" name="modDate"
                                   readonly class="form-control"/>
                        </div>
                    </div>

                    <br/>

                    <div class="row align-items-center mb-5">
                        <div th:if="${user != null}">
                            <a th:href="@{/serviceCenter/customerUpdateBoard(cusNo = ${board.cusNo}, page=${requestDTO.page}, type=${requestDTO.type}, keyword =${requestDTO.keyword})}">
                                <button class="btn btn-primary btn-md btn-file" type="button">게시글 수정</button>
                            </a>
                            <a th:href="@{/serviceCenter/customerBoard}">
                                <button class="btn btn-primary btn-md btn-file" type="button">목록으로</button>
                            </a>
                        </div>
                        <div th:if="${otherUser != null}">
                            <a th:href="@{/serviceCenter/customerBoard}">
                                <button class="btn btn-primary btn-md btn-file" type="button">목록으로</button>
                            </a>
                        </div>
                    </div>
                <!-- 답글 -->
                    <div class="row" th:if="${answer != null}">
                        <div class="col-lg-8">
                            <div class="mb-5" >
                                <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-align-left mr-3"></span>문의 답변</h3>
                                <p th:utext="${answer.aContent}"></p>
                                <p th:text="${#temporals.format(answer.modDate, 'yyyy/MM/dd')}" ></p>
                            </div>
                        </div>
                    </div>
                    <div th:if="${session.user.state == 0} and ${answer != null}">
                        <a id="delete">
                            <button type="button" class="btn btn-primary" >답변삭제</button>
                            <input type="hidden" th:value="${answer.aNo}" id="aNo" />
                        </a>
                    </div>
                </form>
            </div>
        </div>

        <!-- 댓글 쓰기 관련 -->
        <div class="form-group" th:if="${answer == null} and ${session.user.state == 0} ">
            <label>답변 등록</label>
            <form method = "post">
                <textarea cols = "40" rows="5" class="form-control" name="aContent" id = "comment"></textarea>
                <input type = "hidden" name = "aWriter" th:value="${session.user.id}" id = "commentWriter">
            </form>
            <br/>
            <button class = "btn btn-primary" id = "commentRegister" type ="button">남기기</button>
        </div>

    </div>
</section>
<!-- 관리자 영역 -->

<script th:inline="javascript">

     // 댓글 등록
    $("#commentRegister").click(function () {

        // 줄바꿈을 태그로 같이 저장하기 위한 로직 시작
        txtBox = document.getElementById("comment");
        var lines = txtBox.value.split("\n");

        var resultString = "<p>";

        for (var i = 0; i < lines.length; i++) {
            resultString += lines[i] + "<br />";
        }
        resultString += "</p>"; // textarea에 담긴 데이터를 저장할 변수
        // 줄바꿈을 태그로 같이 저장하기 위한 로직 끝

        writer = $("#commentWriter").val();

        // json 형태의 댓글 데이터
        var commentData = {

            aContent: resultString,
            aWriter: writer,
            cusNo: [[${board.cusNo}]]
        }
        console.log("작성자 : " +commentData.aWriter);
        $.ajax({
            data: JSON.stringify(commentData), //json 데이터를 String으로
            type: "post",
            url: '/serviceCenter/boardComment',
            cache: false,
            contentType: 'application/json; charset=utf8',
            dataType: 'json',
            processData: false,


            success: function (data) {
                location.reload(); // 페이지 전체를 리로드(tempPage 변수 때문에 부분 리로드하기 복잡)
            },

            error: function(jqXHR, textStatus, errorThorwn){
                alert("실패");
            }
        });
        console.log("내용 : " + commentData.aContent)
    })
    // 댓글 등록 끝

    // 댓글 삭제
    $("#delete button").click(function() {
        var aNo = $("#aNo").val();

        $.ajax({
            data : aNo,
            type: "delete",
            url: '/serviceCenter/deleteComment',
            cache: false,
            contentType: 'application/json; charset=utf8',
            dataType: 'json',
            processData: false,

            success: function (data) {
                (location).reload();
            },
            error: function(jqXHR, textStatus, errorThorwn){
                alert("실패");
            }
        })
    })
    // 댓글 삭제 끝



</script>


<footer th:replace="~{/fragments/footer :: mainFooter}"></footer>



</body>
</html>