<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/header :: mainHeader}">
  <meta charset="UTF-8">
  <title>Title</title>

</head>

<body id="top">

<div th:if = "${session.user != null}">
  <div th:if="${session.user.state == 1}">
    <div th:replace="~{/fragments/navUser :: naviUser}"></div>
  </div>

  <div th:if="${session.user.state == 2}">
    <div th:replace="~{/fragments/navHelper :: naviHelper}"></div>
  </div>

  <div th:if="${session.user.state == 0}">
    <div th:replace="~{/fragments/navManager :: naviManager}"></div>
  </div>
</div>

<section class="section-hero overlay inner-page bg-image" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-white font-weight-bold">고객센터</h1>
        <div class="custom-breadcrumbs">
          <a href="#" th:href="@{/}">Home</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>FAQ</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="site-section" id="accordion">
  <div class="container">

    <div class="row accordion justify-content-center block__76208">
      <div class="col-lg-6">
        <img src="images/sq_img_8.jpg" alt="Image" class="img-fluid rounded">
      </div>
      <div class="col-lg-5 ml-auto">
        <div class="accordion-item">
          <h3 class="mb-0 heading">
            <a class="btn-block h4" data-toggle="collapse" href="#collapseFive" role="button" aria-expanded="true" aria-controls="collapseFive">어떻게 이용할 수 있나요???<span class="icon"></span></a>
          </h3>
          <div id="collapseFive" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="body-text">
              <p>내용 1</p>
            </div>
          </div>
        </div> <!-- .accordion-item -->

        <div class="accordion-item">
          <h3 class="mb-0 heading">
            <a class="btn-block h4" data-toggle="collapse" href="#collapseSix" role="button" aria-expanded="false" aria-controls="collapseSix">질문 2<span class="icon"></span></a>
          </h3>
          <div id="collapseSix" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="body-text">
              <p>내용 2</p>
            </div>
          </div>
        </div> <!-- .accordion-item -->

        <div class="accordion-item">
          <h3 class="mb-0 heading">
            <a class="btn-block h4" data-toggle="collapse" href="#collapseSeven" role="button" aria-expanded="false" aria-controls="collapseSeven">질문 3<span class="icon"></span></a>
          </h3>
          <div id="collapseSeven" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="body-text">
              <p>내용 3</p>
            </div>
          </div>
        </div> <!-- .accordion-item -->

        <div class="accordion-item">
          <h3 class="mb-0 heading">
            <a class="btn-block h4" data-toggle="collapse" href="#collapseEight" role="button" aria-expanded="false" aria-controls="collapseEight">질문 4<span class="icon"></span></a>
          </h3>
          <div id="collapseEight" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="body-text">
              <p>내용 4</p>
            </div>
          </div>
        </div> <!-- .accordion-item -->

      </div>


    </div>
  </div>
</section>


<footer th:replace="~{/fragments/footer :: mainFooter}"></footer>

</body>
</html>