button {
    background: none;
    border: none;
}

#cash_status{
    position: absolute;
    left: 82%;
    z-index: 10;
    color: black;
}

<!-- 문의 답변 영역 -->

#comment_list{
   border: 1px solid gray;
   width: auto;
}