
button {
    background: none;
    border: none;
}


#password_val {
    padding: 0;
    margin-left: 8px;
    border: none;
    border-bottom: 1px solid gray;
    width: 100px;
}

#cusBoardWrite_btn{
    position: relative;
    left: 95%;
}

#keyword{
    width: 200px;
}

#search_btn {
    margin-left: 5px;
}

<!--  여기까지 -->


#cash_status{
    position: relative;
    left: 81%;
    z-index: 10;
    color: black;
    display: block;
    background: #ffffff;
}

<!-- 문의 답변 영역 -->

#comment_list{
   border: 1px solid gray;
   width: auto;
}

<!-- 신고게시판 최근 거래 내역 -->

#badUser{
    cursor: pointer;
    line-height: 10px;
}

#trade_user{
    cursor: pointer;
    line-height: 15px;
}

#trade_user:hover{
   color: #7f848c;
}

<!-- 관리자  신고게시판 -->

.job-listing-logo_report{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 150px;
    flex: 0 0 111px;
    border-right: 1px solid #eee;
}




<!-- 비즈니스 카드 -->


