<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/header :: mainHeader}">
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body id="top">


<div th:if = "${session.user != null}">

    <div th:if="${session.user.state == 1}">
        <div th:replace="~{/fragments/navUser :: naviUser}"></div>
    </div>

    <div th:if="${session.user.state == 2}">
        <div th:replace="~{/fragments/navHelper :: naviHelper}"></div>
    </div>

    <div th:if="${session.user.state == 0}">
        <div th:replace="~{/fragments/navManager :: naviManager}"></div>
    </div>

</div>

<div id="cash_status" th:if="${session.user != null}">
    <span id="user" th:text="${session.user.nickname}"></span> 님
    <span th:text="${session.user.point}"></span> point
<button type="button" id="btn_submit">충전하기</button>
<a href="/chat/chatList">채팅</a>
</div>

<div th:if = "${session.user == null}">
    <div th:replace="~{/fragments/nav :: navi}"></div>
</div>

<section class="home-section section-hero overlay bg-image" id="home-section">

    <div class="container">
     <!--   <div class="row align-items-center justify-content-center">
            <div class="col-md-12">
                <div class="mb-5 text-center">
                    <h1 class="text-white font-weight-bold">
                        일도둑 뿜뿜<br/>
                        뿜뿜
                    </h1>
                    <p>뿜뿜</p>
                </div>
            </div>
        </div>
    </div>-->

    <a href="#next" class="scroll-button smoothscroll">
        <span class=" icon-keyboard_arrow_down"></span>
    </a>

</section>

<section class="site-section">
    <div class="container">

        <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="section-title mb-2">진행중인 경매</h2>
            </div>
        </div>

        <ul class="job-listings mb-5">
            <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
                <a href="job-single.html"></a>


                <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                    <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                        <h2>경매 리스트????</h2>
                        <strong>올린사람</strong>
                    </div>
                    <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                        <span class="icon-room"></span>상세내용
                    </div>
                    <div class="job-listing-meta">
                        <span class="badge badge-danger">진행 중인 경매 가격</span>
                    </div>
                </div>

            </li>
        </ul>

        <div class="row pagination-wrap">
            <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
                <span>총 게시글 수</span>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <div class="custom-pagination ml-auto">
                    <a href="#" class="prev">Prev</a>
                    <div class="d-inline-block">
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                    </div>
                    <a href="#" class="next">Next</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="py-5 bg-image overlay-primary fixed overlay">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h2 class="text-white">그 일 제가 할께요</h2>
                <p class="mb-0 text-white lead">ㅎ</p>
            </div>
            <div class="col-md-3 ml-auto">
                <a href="#" class="btn btn-warning btn-block btn-lg">Helper 등록</a>
            </div>
        </div>
    </div>
</section>



<section class="bg-light pt-5 testimony-full">

    <div class="owl-carousel single-carousel">


        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center text-center text-lg-left">
                    <blockquote>
                        <p>&ldquo;일도둑 뿜뿜&rdquo;</p>
                        <p><cite> &mdash; 아무내용</cite></p>
                    </blockquote>
                </div>
                <div class="col-lg-6 align-self-end text-center text-lg-right">
                    <img src="https://i.pinimg.com/originals/56/2f/ed/562fed1cddb951e04ba2d349733f067f.gif" alt="Image" class="img-fluid mb-0">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center text-center text-lg-left">
                    <blockquote>
                        <p>&ldquo;뿜뿜&rdquo;</p>
                        <p><cite> &mdash; 귀찮음</cite></p>
                    </blockquote>
                </div>
                <div class="col-lg-6 align-self-end text-center text-lg-right">
                    <img src="https://og.kakaobank.io/view/fed11c12-cd91-4b3c-b41d-7d93c0551c3e" alt="Image" class="img-fluid mb-0">
                </div>
            </div>
        </div>

    </div>

</section>

<section class="pt-5 bg-image overlay-primary fixed overlay" style="background-image: url('images/hero_1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center text-center text-md-left mb-5 mb-md-0">
                <h2 class="text-white">구분</h2>
                <p class="mb-5 lead text-white">아무내용</p>
                <p class="mb-0">
                    <a href="#" class="btn btn-dark btn-md px-4 border-width-2"><span class="icon-apple mr-3"></span>일반 사용자</a>
                    <a href="#" class="btn btn-dark btn-md px-4 border-width-2"><span class="icon-android mr-3"></span>헬퍼</a>
                </p>
            </div>
            <div class="col-md-6 ml-auto align-self-end">
                <img src="images/apps.png" alt="Free Website Template by Free-Template.co" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<script th:inline="javascript">

    var msg = [[${msg}]];

        $(document).ready(function(){

            if(msg != null) {
                alert(msg);
            }
            //결제 팝업창으로 띄우기
        $("#btn_submit").on("click",function(){

            window.open("/kakaoPay/kakao","popup_cash","width=500, height=584, scrollbars=no, resizeable=no,toolbar=no, left=420,top=90");
        });
    });
</script>

<script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<footer th:replace="~{/fragments/footer :: mainFooter}"></footer>

</body>
</html>